RewriteEngine On

# Rewrite domain.org-> domain.com
RewriteCond %{HTTP_HOST} .
RewriteCond %{HTTP_HOST} ^www\.jeancarlomachado\.com\.br$ [NC]
RewriteRule (.*) http://jeancarlomachado.com.br/$1 [R=301,L]

