ul {
    list-style-type: none;
}

header {
    text-align: center;
}


#latest-posts {
    margin-left: 40px;
}

.post-title {
    display: inline;
    float: center;
}

.date-container {
    float: left;
    color: green;
}

