ul {
    list-style-type: none;
    padding: 0;
}

header {
    text-align: center;
}

body {
    margin: 10%;
    font-size: 24px;
    font-family: 'EB Garamond', serif;
}

footer {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


footer nav,  footer nav ul li {
    display:inline;
    margin: 10px;
}

a:link {
    color: #0000EE;
}

a:visited {
    color: #0000EE;
}


code {
    font-family: "Courier New", Courier, monospace, sans-serif;
    line-height: 1.6em;
    font-size: 14px;
    }
code {
    padding: 0.1em 0.5em 0.3em 0.7em;
    border-left: 11px solid #ccc;
    margin: 1.7em 0 1.7em 0.3em;
    overflow: auto;
    width: 93%;
    }
* html code { 
    padding-bottom: 2em;
    overflow: visible;
    overflow-x: auto;
    }

.view-port {
    max-width: 700px;
    margin: auto;
}

article {
    margin-top: 60px;
    line-height: 150%;
}

.article-header {
    display:table-row;
}

.article-title {
    float: left;
    margin: 0 auto;
}

.article-date {
    float: right;
    margin-left: 40px;
}

#loaderImage {
    position:absolute;
    width:16px; /*image width */
    left:50%; 
    margin-left: -8px; /*image width/2 */
}

input[type="text"] {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}
input[type="text"].focus {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}
