[submodule "module/AckCore"] path = module/AckCore
	url = git@github.com:jeanCarloMachado/AckCore.git
[submodule "module/AckUsers"]
	path = module/AckUsers
	url = git@github.com:jeanCarloMachado/AckUsers.git
[submodule "module/AckDb"]
	path = module/AckDb
	url = git@github.com:jeanCarloMachado/AckDb.git
[submodule "module/AckMvc"]
	path = module/AckMvc
	url = git@github.com:jeanCarloMachado/AckMvc.git
[submodule "module/AckDevel"]
	path = module/AckDevel
	url = git@github.com:jeanCarloMachado/AckDevel.git
[submodule "module/AckContact"]
	path = module/AckContact
	url = git@github.com:jeanCarloMachado/AckContact.git
[submodule "module/AckContent"]
	path = module/AckContent
	url = git@github.com:jeanCarloMachado/AckContent.git
[submodule "module/AckProducts"]
	path = module/AckProducts
	url = git@github.com:jeanCarloMachado/AckProducts.git
[submodule "module/AckLocale"]
	path = module/AckLocale
	url = git@github.com:jeanCarloMachado/AckLocale.git
[submodule "module/AckCmd"]
	path = module/AckCmd
	url = git@github.com:jeanCarloMachado/AckCmd.git

[submodule "module/AckAgenda"]
	path = module/AckAgenda
	url = git@github.com:jeanCarloMachado/AckAgenda.git
