html, body {
   dden-print" role="navigation"></nav>
   
   <div class="contactScreen"/ font-family: 'Cousine';
}

.contactScreen {
    margin: 10px;
}


@media print {
    a[href]:after {
        content: none;
    }

    #topo > div > a {
        margin: 0 auto;
        text-align: center;
        display: block;
    }

    header img {
        width: 300px;
        height: auto;
        margin: 0;
    }

    header h1 {
        font-size: 20pt;
        text-align: center;
    }

    h2 {
        font-size: 18pt;
    }
}

.separator {
            display: none;
            position: absolute;
            float: left;
            bottom: 0px;
        }
.filterElement {
    float: left;
}

h2.relatorio {
    text-align: center;
}

footer {
    margin-top: 20px;
    font-size: 0.95em;
    padding: 0 0 !important;
}

ul.nav a {
    outline: none;
}

.parent-dropdown-nested a {
    clear: right !important;
    padding: 0 0 !important;
}

.menuToogle {
    float: left;
    clear: none !important;
}

.menuEntry {
    float: left;
}

body {
    padding: 40px;
}


