ul {
    list-style-type: none;
    padding: 0;
}

header {
    text-align: left;
    max-width: 800px;
    margin: auto;
}

header li {
    font-size: 0.7em;
}

#myname {
    font-size: 1.5em;
    display: inline;
    margin: 0;
    padding: 0;
}

body {
    margin: 10%;
    font-size: 24px;
	font-family: Georgia,Times,Times New Roman,serif;
}

footer {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

input, select, textarea, button{
    font-family: 'Playfair Display', serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: 'Helvetica Neue',Helvetica,sans-serif;
}

a {
    color: #B1ACB9;
    text-decoration: none;
    line-height: 0.5
}

a:visited{
    text-decoration: none;
    color: #B1ACB9;
}

header nav ul {
    margin-top: 3px;
    margin-bottom: 20%;
}

ul li {
    display:inline;
    margin: 10px;
}

code {
    font: "Droid Sans Mono", sans-serif;
    line-height: 1.6em;
    font-size: 14px;
    padding: 0.1em 0.5em 0.3em 0.7em;
    border-left: 11px solid #ccc;
    margin: 1.7em 0 1.7em 0.3em;
    overflow: auto;
    width: 93%;
}

* html code {
    padding-bottom: 2em;
    overflow: visible;
    overflow-x: auto;
    }

.view-port {
    max-width: 800px;
    margin: auto;
}

.article-title {
    margin-bottom: 0px;
}

article {
    margin-top: 60px;
    line-height: 150%;
}

.articleTime {
    color: #B1ACB9;
    font-size: 0.6em;
}

article header a {
    color: black;
}

#loaderImage {
    position:absolute;
    width:16px; /*image width */
    left:50%;
    margin-left: -8px; /*image width/2 */
}

input[type="text"] {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}

input[type="text"].focus {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}
