---
layout: default
---

<div class="post">
    <a class="post__back" href="/">&lt;-- home</a>
    <h1 class="post__title">{{ page.title }}</h1>
    <p class="post__date">{{ page.date | date: '%B %-d, %Y' }}</p>
    <p class="post__meta">{{ tags_content }}</p>
    <div class="post__content"?>
        {{ content }}
    </div>

</div>

<div id="disqus_thread"></div>
<script>
    var identifier = window.location.href.split('/');
    identifier = identifier[identifier.length -1 ];
    identifier.split('.')[0];

    var disqus_config = function () {
        this.page.url = window.location.href;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = identifier;
    };
    (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
        var d = document, s = d.createElement('script');

        s.src = '//jeancarlomachado.disqus.com/embed.js';  // IMPORTANT: Replace EXAMPLE with your forum shortname!

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML">
</script>

<script type="text/x-mathjax-config">
MathJax.Hub.Register.StartupHook("TeX Jax Ready",function () {
  MathJax.Hub.Insert(MathJax.InputJax.TeX.Definitions.macros,{
      cancel: ["Extension","cancel"],
          bcancel: ["Extension","cancel"],
              xcancel: ["Extension","cancel"],
                  cancelto: ["Extension","cancel"]
                    });
                    });
</script>

<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
